{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="form-container">
        <div class="form-holder">    
            <div class="form-content">
                <h2 class="form-heading">Welcome Back</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-labels-inputs">
                        {% for error in form.email.errors %}
                        <span class="error-message">{{ error }}</span>
                        {% endfor %}

                        <label for="{{form.email.id_for_label}}" class="form-label">{{form.email.label}}</label>
                        <div class="form-group">
                            {{form.email}}
                        </div>

    
                        <div class="form-group">
                            <div class="form-eye-container" data-target="#password">
                                <label for="{{form.password.id_for_label}}" class="form-label">{{form.password.label}}</label>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash toggle-password" viewBox="0 0 16 16">
                                    <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z"/>
                                    <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829"/>
                                    <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z"/>
                                  </svg>
                            </div>

                            {{form.password}}
                        </div>

                    </div>
                    <input type="submit" class="btn btn-primary signup-button" value="Sign In">
                </form>
                <div class="redirect-to-log">

                    <p class="form-par">Create a new Account? </p>
                    <a href="{% url 'users:signup' %}" class="form-redirect-link">Sign Up</a>
                </div>
            </div>
        </div>
    </div>



{% endblock %}