{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="form-container">
        <div class="form-holder">    
            <div class="form-content">
                <h2 class="form-heading">Get Started with Skylink</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-labels-inputs">

                        <div class="form-group">
                            <label for="{{form.email.id_for_label}}" class="form-label">{{form.email.label}}</label>
                            {% for error in form.email.errors %}
                            <span class="error-message">{{ error }}</span>
                            {% endfor %}
                            {{form.email}}
                        </div>

                        <div class="form-group">
                            <label for="{{form.username.id_for_label}}" class="form-label">{{form.username.label}}</label>
                            {% for error in form.username.errors %}
                            <span class="error-message">{{ error }}</span>
                            {% endfor %}
                            {{form.username}}
                        </div>
    
                        <div class="form-group">
                            <label for="{{form.password.id_for_label}}" class="form-label">{{form.password.label}}</label>
                            {% for error in form.password.errors %}
                            <span class="error-message">{{ error }}</span>
                            {% endfor %}
                            {{form.password}}
                        </div>
    
                        <div class="form-group">
                            <label for="{{form.confirm_password.id_for_label}}" class="form-label">{{form.confirm_password.label}}</label>
                            {% for error in form.confirm_password.errors %}
                            <span class="error-message">{{ error }}</span>
                            {% endfor %}
                            {{form.confirm_password}}
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary signup-button" value="Sign Up">
                </form>
                <div class="redirect-to-log">

                    <p class="form-par">Already have an account? </p>
                    <a href="{% url 'users:login' %}" class="form-redirect-link">Sign In</a>
                </div>
            </div>
        </div>
    </div>



{% endblock %}