{% extends 'base.html' %}
{% block content %}
    <div class="indi-post-container" data-post-slug="{{ post.slug }}">
        <div class="indi-post-wrapper">
            <img src="{{post.image.url}}" alt="{{post.text}}" class="indi-post-image">
            <p class="indi-post-text">{{post.text}}</p>
            <div class="like-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-heart-fill indi-post-like" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                  </svg>
                <span class="post-like-count">{{post.likes_count}}</span>
            </div>
            <p class="indi-post-comment-head">Comments</p>
        </div>
    </div>
{% endblock %}