{% extends 'base.html' %}
{% block content %}
    <h1>{{other_user.username}}</h1>
    <div class="chat-container">
        {% for message in messages %}
            <div class="message">
                {% if message.sender == request.user %}
                    <p>Me: {{message.content}}</p>
                {% else %}
                    {{other_user.username}}: {{message.content}}
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <form id="chat-form">
        <input type="text" id="chat-message-input" autocomplete="off">
        <button type="submit" class="btn btn-primary">Send</button>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
        const chatForm = document.getElementById('chat-form');
        const messageInput = document.getElementById('chat-message-input');
        const roomName = '{{ other_user.slug }}';

        const wsUrl = 'ws://' + window.location.host + '/ws/chat/' + roomName + '/';
        console.log('WebSocket URL:', wsUrl); // Log WebSocket URL

        const chatSocket = new WebSocket(wsUrl);

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const message = data['message'];
            const senderChannelName = data['sender_channel_name'];

            const chatContainer = document.querySelector('.chat-container');
            const messageElement = document.createElement('div');
            messageElement.innerText = message;
            chatContainer.appendChild(messageElement);
        };

        chatForm.addEventListener('submit', function(e) {
            e.preventDefault();
            const message = messageInput.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'receiver_channel_name': '{{ other_user.channel_name }}'
            }));
            messageInput.value = '';
        });

        chatSocket.onclose = function(e) {
            console.error('WebSocket closed unexpectedly:', e);
        };

        chatSocket.onerror = function(e) {
            console.error('WebSocket error observed:', e);
        };
    });

        
    </script>
{% endblock %}