*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */

.mobile-layout{
    display: none;
}

.header-container{
    background-color:  #3b5998;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: white;
    margin-bottom: 30px;
}

.logo-flex{
    display: flex;
    align-items: center;
    gap: 10px;
} 

.header-h1{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    padding-top: 10px;
}

.header-input{
    border-radius: 20px;
    padding: 5px 10px;
    border: none;
    outline: none;
    width: 230px;
}


.header-icons{
    display: flex;
    align-items: center;
    gap: 60px;
    margin-left: -150px;
}

.header-profile{
    display: flex;
    gap: 50px;
    margin-right: 20px;
}

.header-icon-a, 
.header-prof{
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.header-icon-a:hover,
.header-prof:hover {
    color: gray;
}


/* for mobile phones */

@media (max-width: 576px) {
    

    .desktop-layout{
        display: none;
    }

    .mobile-layout{
        display: block;
    }

    .header-container {
        padding: 10px; 
        flex-direction: column; 
        align-items: center; 
    }

    .logo-profile-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 10px; 
    }

    .logo-flex {
        display: flex;
        align-items: center;
        gap: 10px; 
    }

    .header-h1 {
        font-size: 20px;
        padding-top: 4px; 
    }

    .header-input {
        width: 150px; 
    }

    .header-profile {
        display: flex;
        gap: 30px;
    }

    .header-icons {
        display: flex;
        justify-content: center;
        margin-left: 3px;
        margin-top: 5px;
        gap: 40px;
    }
}

/* Sign up page */

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.form-holder{
    padding: 0 20px;
    background-color: #F5F5F5;
    width: 900px;
}


.form-header{
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: space-between;
    margin-left: 20px;
    margin-bottom: 50px;
}

.form-logo{
    font-size: 22px;
    font-weight: bold;
}

.form-redirect{
    font-size: 15px;
    color: #808080;
    display: inline-block;
}

.form-re-link{
    text-decoration: none;
}

.form-content{
    display: flex;
    flex-direction: column;
}

.form-heading{
    align-self: center;
}